<center><h4>The Item details was saved Successfully</h4></center>
<center><%= link_to "Click here to see the Item added", post_path(@post.id) %> </center><br><br>
<center> <%= link_to "Click here to View all the Item", controller: "posts" %><br><br><br></center>
<center><%= link_to 'Click here to Add a New Item', new_post_path %>&nbsp;&nbsp;</center>
<br>
<br>
