// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
     background-image:url("images.jpeg") ;
     } 

#header
      {
      color:white;
      font-weight:bold;
      font-size:175%;
      text-align:center;
      background-color:#663366;
      height:85px;
      width:1200px;
      }    

      #link
      {
      color:purple;
      font-weight:bold;
      font-size:175%;
      text-align:center;
      }